body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f8f9fa;
}

.success-box {
    border-left: 4px solid #0d6efd;
    background-color: #f1f8ff;
}

.navbar-brand img {
    max-height: 80px;
    width: auto;
}